/*
South African Theological Seminary
 */

:root {
    --local-satsmail-color-gray-bg: #dee2e6;
    --local-satsmail-color-blue-bg: #9ec5fe;
    --local-satsmail-color-indigo-bg: #c29ffa;
    --local-satsmail-color-purple-bg: #c5b3e6;
    --local-satsmail-color-pink-bg: #efadce;
    --local-satsmail-color-red-bg: #f1aeb5;
    --local-satsmail-color-orange-bg: #fecba1;
    --local-satsmail-color-yellow-bg: #ffe69c;
    --local-satsmail-color-green-bg: #a3cfbb;
    --local-satsmail-color-teal-bg: #a6e9d5;
    --local-satsmail-color-cyan-bg: #9eeaf9;

    --local-satsmail-color-gray-fg: #343a40;
    --local-satsmail-color-blue-fg: #052c65;
    --local-satsmail-color-indigo-fg: #290661;
    --local-satsmail-color-purple-fg: #2c1a4d;
    --local-satsmail-color-pink-fg: #561435;
    --local-satsmail-color-red-fg: #58151c;
    --local-satsmail-color-orange-fg: #653208;
    --local-satsmail-color-yellow-fg: #664d03;
    --local-satsmail-color-green-fg: #0a3622;
    --local-satsmail-color-teal-fg: #0d503c;
    --local-satsmail-color-cyan-fg: #055160;
}

.local-satsmail {
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
    --bs-secondary-border-subtle: rgba(0, 0, 0, 0.125);
}

.local-satsmail .btn:disabled {
    opacity: 0.4;
}

.local-satsmail .btn-light:disabled {
    opacity: 0.2;
}

.local-satsmail .dropdown-menu {
    top: 100%;
    margin-top: 0.125rem;
    background-color: var(--light, var(--bs-gray-100));
}

.local-satsmail .dropdown-menu-right {
    right: 0;
    left: auto;
}

.local-satsmail .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.local-satsmail .dropdown-item:not(:focus):hover {
    color: inherit;
    background-color: #eee;
}

.local-satsmail .fa {
    font-size: 16px;
}

.local-satsmail .form-control {
    height: auto;
}

.local-satsmail input.form-control:not(.is-invalid),
.local-satsmail .fp-navbar,
.local-satsmail .filemanager-container {
    border-color: rgba(0, 0, 0, 0.125);
}

.local-satsmail .dropdown-menu {
    z-index: 1040;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.local-satsmail-busy {
    cursor: wait !important;
}

.local-satsmail-busy * {
    pointer-events: none;
}

#page-local-satsmail-view #topofscroll {
    padding: 0;
    margin-bottom: 0;
}
#page-local-satsmail-view #region-main-bo {
    padding-left: 0;
    padding-right: 0;
}

#page-local-satsmail-view #page-header {
    display: none;
}

#page-local-satsmail-view #page.drawers {
    padding-left: 0;
    padding-right: 0;
}

#page-local-satsmail-view #page.drawers .main-inner {
    margin-top: 0;
}

#page-local-satsmail-view .btn-footer-popover {
    display: block;
    position: static;
    margin: 2rem 2rem 2rem auto;
}

#page-local-satsmail-view.pagelayout-embedded,
#page-local-satsmail-view.pagelayout-embedded .btn,
#page-local-satsmail-view.pagelayout-embedded .dropdown-menu,
#page-local-satsmail-view.pagelayout-embedded .form-control {
    font-size: 1rem;
}

